<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoul.tour.mapper.BoardAttachMapper">
	<insert id="insert" parameterType="com.seoul.tour.vo.AttachFileVO">
		insert into tbl_attach (uuid, uploadPath, fileName, bno)
			values (#{uuid},#{uploadPath},#{fileName},#{bno})
	</insert>
	<delete id="delete">
		delete from tbl_attach where uuid=#{uuid}
	</delete>
	
	<select id="findByBno" resultType="com.seoul.tour.vo.AttachFileVO">
		select  * from tbl_attach where bno =#{bno}
	</select>
	<delete id="deleteAll">
		delete tbl_attach where bno =#{bno}
	</delete>
	
</mapper>